{% extends 'base_layout_2.html' %}
{% block content %}



    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Yeni Adres</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                     <form action="#" method="post">
                            {% csrf_token %}

                            <div class="form-group required-field">

                                <input type="text" id="email_address" style="height: 30px" placeholder=""
                                       class="form-control"
                                       name="username"
                                       required autofocus>
                            </div><!-- End .form-group -->

                            <div class="form-group required-field">

                                <input type="text" placeholder="Şifre" style="height: 30px" id="password"
                                       class="form-control"
                                       name="text" required>
                            </div><!-- End .form-group -->

                            <div class="form-footer">

                                <button type="submit" class="btn"
                                        style="background-color:orange; color: white; padding-top: 0px; width: 100%; height: 29px; margin:0">
                                    Giriş yap
                                </button>

                            </div><!-- End .form-footer -->

                        </form>

                </div>

            </div>
        </div>
    </div>


    <div class="container">
        <ul class="checkout-progress-bar">
            <li class="active">
                <span>Ödeme Bilgileri</span>
            </li>
            <li>
                <span>Ödemeyi Tamamla</span>
            </li>
        </ul>
        <div class="row">
            <div class="col-lg-8">
                <ul class="checkout-steps">
                    <li>
                        <h2 class="step-title">Ödeme İşlemleri</h2>
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-9 order-lg-last dashboard-content">
                                    <br>
                                    <h3>Adreslerim</h3>

                                    <div class="row">

                                        {% for key,value in addresses.items %}

                                            <div class="col-md-6">
                                                <div class="card">
                                                    <h4 class="card-header"
                                                        style="background-color: #ffffff">{{ key }}</h4>

                                                    <div>
                                                        {% for address in value %}

                                                            <div class="" style="padding:15px">

                                                                <address>
                                                                    <input type="checkbox" id="address" name="address"
                                                                           value="{{ address.address }}">
                                                                    {{ address.address }}
                                                                </address>
                                                                <p>{{ address.district }}/ {{ address.city }}</p>
                                                                <hr style="margin: 0; margin-bottom: 20px;">
                                                            </div><!-- End .shipping-address-box -->

                                                        {% endfor %}

                                                    </div><!-- End .shipping-step-addresses -->
                                                </div>
                                            </div>

                                        {% endfor %}


                                    </div>

                                    <button type="button" class="btn btn-sm btn-outline-secondary btn-new-address"
                                            data-toggle="modal"
                                            data-target="#exampleModal" data-whatever="şehir">
                                        +Yeni Adres
                                    </button>

                                </div><!-- End .col-lg-9 -->

                            </div><!-- End .row -->

                            <form action="#" method="post">
                                {% csrf_token %}
                                <div class="form-group ">
                                    <label>Ad </label>
                                    <text> {{ user_form.first_name }} </text>
                                </div><!-- End .form-group -->

                                <div class="form-group ">
                                    <label>Soyad </label>
                                    {{ user_form.last_name }}
                                </div><!-- End .form-group -->
                                <div class="form-group ">
                                    <label>Email </label>
                                    {{ user_form.email }}
                                </div><!-- End .form-group -->

                                <div class="form-group ">
                                    <label>Telefon </label>
                                    {{ profile_form.mobilePhone }}
                                </div><!-- End .form-group -->
                            </form>
                    </li>

                </ul>
            </div><!-- End .col-lg-8 -->

            <div class="col-lg-4" style="margin-top: 98px;">
                <div class="cart-summary" style="background-color: #ffffff">
                    <h3>Sipariş Detayı</h3>


                    <!-- End #total-estimate-section -->

                    <table class="table table-totals">
                        <tbody>

                        <tr>
                            <td>Toplam Sipariş</td>
                            <td id="net_total">{{ net_total|floatformat:'2' }}₺</td>
                        </tr>

                        <tr>
                            <td>KDV</td>
                            <td id="tax">{{ kdv|floatformat:'2' }}₺</td>
                        </tr>
                        <tr>
                            <td>Kargo</td>
                            <td id="shipping">{{ kargo1 }}₺</td>
                        </tr>
                        <tr>
                            <td>İndirim</td>
                            <td id="shipping">{{ discount }}₺</td>
                        </tr>

                        </tbody>
                        <tfoot>
                        <tr>
                            <td>Toplam Tutar</td>
                            <td id="total_price">{{ total |floatformat:'2' }}₺</td>
                        </tr>
                        </tfoot>
                    </table>

                    <div class="checkout-methods">
                        <button type="button" class="btn btn-block btn-sm btn-primary"
                                onclick="odemeTamamla()"
                                data-whatever="@getbootstrap">Ödemeyi Tamamla
                        </button>

                    </div><!-- End .checkout-methods -->
                </div><!-- End .cart-summary -->
            </div><!-- End .col-lg-4 -->
        </div><!-- End .row -->
    </div>
    <div class="row">
        <div class="col-lg-8">
            <div class="checkout-steps-action">
                <a href="checkout-review.html" class="btn btn-primary float-right">NEXT</a>
            </div><!-- End .checkout-steps-action -->
        </div><!-- End .col-lg-8 -->
    </div><!-- End .row -->
    </div><!-- End .container -->

{% endblock %}