{% extends 'base_layout_2.html' %}
{% block content %}

    <div class="container">


        <input id="kdv" name="kdv" type="hidden" value="{{ kdv.value }}"/>
        <input id="kargo" name="kargo" type="hidden" value="{{ kargo.lower_limit }}"/>
        <input id="discount" name="discount" type="hidden" value="{{ discount }}"/>

        <ul class="checkout-progress-bar">
            <li class="active">
                <span>Kargo Bilgileri</span>
            </li>
            <li>
                <span>Sipariş Tamamlandı</span>
            </li>
        </ul>
        <form method="post">
            <div class="row">
                <div class="col-lg-8">
                    <ul class="checkout-steps">
                        <li>
                            <h2 class="step-title" style="margin-bottom: 20px;">Ödeme İşlemleri</h2>
                            <div class="container">
                                <div class="row">
                                    <div class="col-lg-9 order-lg-last dashboard-content">
                                        <h3 class="">Kişi Bilgileri</h3>

                                        {% csrf_token %}
                                        <div class="form-group">
                                            <label>Ad </label>
                                            {{ guestForm.firstName }}
                                        </div><!-- End .form-group -->

                                        <div class="form-group ">
                                            <label>Soyad </label>
                                            {{ guestForm.lastName }}
                                        </div><!-- End .form-group -->
                                        <div class="form-group ">
                                            <label>TC </label>
                                            {{ guestForm.tc }}
                                        </div><!-- End .form-group -->
                                        <div class="form-group ">
                                            <label>Email </label>
                                            {{ guestForm.email }}
                                        </div><!-- End .form-group -->

                                        <div class="form-group ">
                                            <label>Telefon </label>
                                            {{ guestForm.mobilePhone }}
                                        </div><!-- End .form-group -->

                                        <h3>Kargo Bilgileri</h3>
                                        <div class="container">
                                            <div class="row ">

                                                <div class="form-group " style=" margin-right:8px">
                                                    <label>İl </label>
                                                    {{ guestForm.city }}
                                                </div><!-- End .form-group -->

                                                <div class="form-group ">
                                                    <label>İlçe </label>
                                                    {{ guestForm.district }}
                                                </div><!-- End .form-group -->
                                                <div class="form-group ">
                                                    <label>Adres </label>
                                                    {{ guestForm.address }}
                                                </div><!-- End .form-group -->
                                                   <input id="discount1" name="discount1" type="hidden" value=""/>

                                            </div>
                                        </div>


                                    </div><!-- End .col-lg-9 -->

                                </div><!-- End .row -->

                            </div>

                            <div class="modal fade bd-example-modal-lg" id="sozlesme" tabindex="-1" role="dialog"
                                 aria-labelledby="myLargeModalLabel" aria-hidden="true">
                                <div class="modal-dialog modal-lg">

                                        <div class="modal-content" style="padding:20px;">
                                            {{ contract.value|safe }}
                                        </div>

                                </div>
                            </div>
                            <div class="custom-control custom-checkbox">
                                <label>
                                    {{ guestForm.isContract }}


                                    <a  role="button" data-toggle="modal" data-target="#sozlesme"
                                    >Sözleşmeyi</a>
                                    okudum,anladım,onaylıyorum
                                </label>
                            </div><!-- End .custom-checkbox -->
                            <br>
                            <div class="checkout-methods">
                                <input class="btn btn-primary" onclick="odemeTamamlaGuest()"  type="submit"
                                       value="Ödemeyi Tamamla" formmethod="post"
                                       formnovalidate>
                            </div><!-- End .checkout-methods -->
                        </li>
                        <!--Sozlesme -->

                    </ul>
                </div><!-- End .col-lg-8 -->
                <div class="col-md-4" style="margin-top:100px;">

                    <div class="checkout-info-box" onload="odemeTamamla()" id="card_product">

                    </div>
                </div>

            </div><!-- End .row -->

        </form>

    </div><!-- End .container -->
    {% load staticfiles %}


    <script src="{% static 'assets/js/jquery.min.js' %}"></script>
    <script>
        window.onload = odemeTamamla();

        function odemeTamamla() {
            debugger;

            let card = JSON.parse(sessionStorage.getItem('shoppingCart'));
            let c_code = JSON.parse(sessionStorage.getItem('c_code'));
            let kdv = document.getElementById("kdv").value;
            let kargo = document.getElementById("kargo").value;
            let kargo1;
            let total;
            let discount1 = document.getElementById("discount").value;
            let discount;

            if (c_code != null)
                discount = discount1;

            else
                discount = 0;

            let subTotal = 0;
            for (let i = 0; i < card.length; i++) {
                subTotal += card[i].price * card[i].count;
            }
            let net_total = subTotal * 100 / (100 + Number(kdv));
            debugger;

            if (subTotal >= parseFloat(kargo)) {
                kargo1 = 0;
                total = subTotal;
                kdv = Number(total) - Number(net_total);
                total = subTotal - parseFloat(discount);
            } else {
                kargo1 = Number(kargo);
                total = subTotal;
                kdv = total - Number(net_total);
                total = subTotal + parseFloat(kargo) - Number(discount);
            }


            let html = '<h3>Sipariş Detayı</h3>';
            html += '<table class="table table-totals"><tbody>';
            html += ' <tr><td>Toplam Sipariş</td><td id="net_total">' + net_total.toFixed(2) + '₺</td> </tr>';
            html += ' <tr><td>KDV</td> <td id="shipping">' + kdv.toFixed(2) + '₺</td></tr>';
            html += '<tr><td>Kargo</td> <td id="shipping">' + Number(kargo1) + '₺</td> </tr>';
            html += '<tr><td>İndirim</td><td id="total_price">' + discount + '₺</td>';
            html += '<tfood><tr><td>Toplam</td> <td id="shipping">' + total.toFixed(2) + '₺</td> </tr>';
            html += '</tr></tbody></tfoot></table>';


            document.getElementById('card_product').innerHTML = html;
            discount1 = window.btoa(discount);



        }


        function checkBox() {

            var checkBox = document.getElementById("myCheck_address");
            var checkout = document.getElementById("checkout-discount-section");

            if (checkBox.checked === true) {
                checkout.style.display = "none";
            } else {
                checkout.style.display = "block";
            }
            debugger;
            $("input[id='myCheck_address']").on('change', function () {
                $(this).val(this.checked ? "TRUE" : "FALSE");
                document.getElementById('address-value').value = document.getElementById('myCheck_address').value;


            })


        }


        function ilceGetir() {
            debugger;
            var e = document.getElementById("id_city");

            var il_id = e.options[e.selectedIndex].value;
            $.ajax({
                url: "{% url 'inoks:ilce-getir' %}",
                type: "post", // or "get"
                async: false,
                data: {
                    il_id: il_id,

                },
                success: function (result) {


                    let select = document.getElementById("ilce_id");

                    select.options[select.options.length] = new Option('Text 1', 'Value1');

                    $('#ilce_id').empty();

                    for (let i = 0; i < result.ilceler.length; i++) {
                        select.options[select.options.length] = new Option(result.ilceler[i].name, result.ilceler[i].name);
                    }
                }
            });
        }


        $(document).ready(function () {


            ilceGetir();
            //console.log($('#ilce_id').select2('data'))
            $('#ilce_id').val('{{ilce}}').trigger('change'); // Select the option with a value of '1'


        });


        function getCookie(name) {
            var cookieValue = null;
            var i = 0;
            if (document.cookie && document.cookie !== '') {
                var cookies = document.cookie.split(';');
                for (i; i < cookies.length; i++) {
                    var cookie = jQuery.trim(cookies[i]);
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }

        var csrftoken = getCookie('csrftoken');

        function csrfSafeMethod(method) {
            // these HTTP methods do not require CSRF protection
            return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
        }

        $.ajaxSetup({
            crossDomain: false, // obviates need for sameOrigin test
            beforeSend: function (xhr, settings) {
                if (!csrfSafeMethod(settings.type)) {
                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                }
            }
        });



        function odemeTamamlaGuest() {

                card = JSON.parse(sessionStorage.getItem('shoppingCart'));
                document.getElementById('card').value = JSON.stringify(card);

                console.log(card);

                debugger;
                c_code = sessionStorage.getItem('c_code');

                if (c_code != null) {
                    discount = JSON.parse(c_code);
                    document.getElementById('c_code').value = JSON.stringify(discount);
                } else {
                    document.getElementById('c_code').value = JSON.stringify(null);
                    console.log(c_code);
                }



                window.document.test.submit();




        }


    </script>

{% endblock %}