<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>OXIT</title>

    <meta name="keywords" content="OXIT"/>
    <meta name="description" content="OXIT">
    <meta name="author" content="OXIT">
    {% load staticfiles %}
    <!-- Favicon -->
    <link rel="icon" type="image/x-icon" href="{% static 'assets/images/icons/favicon.ico' %}">


    <!-- Plugins CSS File -->
    <link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}">

    <!-- Main CSS File -->
    <link rel="stylesheet" href="{% static 'assets/css/style.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'assets/vendor/fontawesome-free/css/all.min.css' %}">
    <!-- Theme style -->

</head>
<body>

<div class="page-wrapper">
    <header class="header">
        <div class="header-top">
            <div class="container">
                <div class="header-left ">


                </div><!-- End .header-left -->

                <div class="header-right">
                    {% if user.is_authenticated %}

                        <p class="welcome-msg">Hoşgeldiniz {{ user.first_name }} {{ user.last_name }} </p>
                        <div class="header-dropdown dropdown-expanded">
                            <div class="header-menu">
                                <ul>
                                    <li><a href="{% url 'inoks:kullanici-profil' %}" class="">Hesabım</a></li>
                                    <li><a href="{% url 'inoks:kullanici-logout' %}" class="">Çıkış Yap</a></li>

                                </ul>
                            </div><!-- End .header-menu -->
                        </div><!-- End .header-dropown -->
                    {% else %}
                        <p class="welcome-msg">Hoşgeldiniz </p>
                        <div class="header-dropdown dropdown-expanded">

                            <div class="header-menu">
                                <ul>
                                    <li><a href="{% url 'inoks:kullanici-ekle' %}">Kayıt Ol</a></li>
                                    <li><a href="{% url 'inoks:kullanici-giris' %}" class="">Giriş Yap</a></li>
                                </ul>
                            </div><!-- End .header-menu -->
                        </div><!-- End .header-dropown -->
                    {% endif %}

                </div><!-- End .header-right -->
            </div><!-- End .container -->
        </div><!-- End .header-top -->

        <div class="header-middle">
            <div class="container">
                <div class="header-left">
                    <a href="{% url 'inoks:kullanici-urun-sayfasi' %}" class="logo">
                        <img src="/media/logo.png" alt="Oxit Logo">
                    </a>
                </div><!-- End .header-left -->

                <div class="header-center">
                    <div class="header-search">
                        <a href="" class="search-toggle" role="button"><i class="icon-magnifier"></i></a>
                        <form method="post" action="{% url 'inoks:search' %}">
                            {% csrf_token %}
                            <div class="header-search-wrapper">

                                <input type="search" class="form-control" name="name" id="name"
                                       placeholder="Marka Ara...">
                                <div class="select-custom">

                                    <select id="cat" name="cat" type="search">

                                        {% for cat in categories %}
                                            <a href="{% url 'inoks:kategori-urunleri' cat.slug %}">
                                                <option value="{{ cat.id }}">{{ cat.name }}</option>
                                            </a>
                                        {% endfor %}


                                    </select>

                                </div><!-- End .select-custom -->
                                <button class="btn" type="submit"><i class="icon-magnifier"></i></button>
                            </div><!-- End .header-search-wrapper -->
                        </form>
                    </div><!-- End .header-search -->
                </div><!-- End .headeer-center -->

                <div class="header-right">
                    <button class="mobile-menu-toggler" type="button">
                        <i class="icon-menu"></i>
                    </button>
                    <div class="dropdown cart-dropdown">
                        <button class="dropdown-toggle " role="button"
                                aria-haspopup="true" aria-expanded="false" data-toggle="modal" data-target="#cart"
                                data-display="static">
                            <span class="cart-count total-count">2</span>
                        </button>

                    </div>
                    <a style="margin-left: 10px;margin-bottom: 20px;" href="{% url 'inoks:favori-urunler' %}" class="paction add-wishlist"
                       title="Favorilerim">

                    </a>

                </div><!-- End .header-right -->
            </div><!-- End .container -->
        </div><!-- End .header-middle -->

        <div class="header-bottom sticky-header" style="margin-right: 0px;">
            <div class="container">
                <nav class="main-nav">
                    <ul class="menu sf-arrows">
                        <li class="active"><a href="{% url 'inoks:kullanici-urun-sayfasi' %}">Anasayfa</a></li>

                        <li class="">
                            <a href="#" class="sf-with-ul">Kategoriler</a>
                            <ul style="display: none;">
                                {% for cat in categories %}
                                    <li><a href="{% url 'inoks:kategori-urunleri' cat.slug %}"
                                           style="font-size:1.3rem;">{{ cat.name }}</a></li>
                                {% endfor %}
                            </ul>
                        </li>
                        <li><a href="#">Yaz Lastiği</a></li>
                        <li><a href="#">Kış Lastiği</a></li>
                        <li><a href="#">4 Mevsim Lastik</a></li>


                    </ul>
                </nav>
            </div><!-- End .header-bottom -->
        </div><!-- End .header-bottom -->

    </header><!-- End .header -->


    <div class="box box-success box-s box-solid" id="toast" style="display: none">
        <div class="box-header with-border">
            <h3 class="box-title">Başarılı</h3>

            <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" id="remove-toast"><i class="fa fa-times"></i></button>
            </div>
            <!-- /.box-tools -->
        </div>
        <!-- /.box-header -->
        <div class="box-body">
            Ürün sepete eklendi.
        </div>
        <!-- /.box-body -->
    </div>

    <!--cart Modal -->
    <div class="modal fade" id="cart" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Alışveriş Sepeti</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form action="{% url "inoks:kullanici-checkout" %}" method="post">
                    {% csrf_token %}
                    <div class="modal-body">
                        <table class="show-cart table">

                        </table>
                        <div>Toplam Tutar: <span class="total-cart"></span> ₺</div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Kapat</button>
                        <input type="submit" name="urun_diger" class="btn btn-primary" value="Sipariş Ver">

                        <a class="button clear-cart btn btn-danger" style="color:white">Sepeti Boşalt</a>
                    </div>
                    <input type="hidden" name="products_cart" id="products_cart">
                </form>
            </div>
        </div>
    </div>

    <main class="main">

        {% block content %}





        {% endblock %}


    </main>
    <footer class="footer">
        <div class="footer-middle">
            <div class="container">

                <div class="row">
                    <div class="col-lg-3">
                        <div class="widget">
                            <h4 class="widget-title">İletişim</h4>
                            <ul class="contact-info">
                                <li>
                                    <span class="contact-info-label">Adres:</span>Ankara Teknopark TGB Yerleşkesi 2224.
                                    Cad. No:1/116 B Blok NAR Kuluçka Merkezi İvedik OSB Yenimahalle/ANKARA
                                </li>
                                <li>
                                    <span class="contact-info-label">Telefon:</span> <a href="tel:">0850 346 34
                                    62</a>
                                </li>
                                <li>
                                    <span class="contact-info-label">Email:</span> <a href="mailto:mail@example.com">info@oxit.com.tr</a>
                                </li>
                                <li>
                                    <span class="contact-info-label">Çalışma Saatleri</span>
                                    pazartesi-cumartesi 09:00-19:00
                                </li>
                            </ul>
                            <div class="social-icons">
                                <a href="#" class="social-icon" target="_blank"><i class="icon-facebook"></i></a>
                                <a href="#" class="social-icon" target="_blank"><i class="icon-twitter"></i></a>
                                <a href="#" class="social-icon" target="_blank"><i class="icon-linkedin"></i></a>
                            </div><!-- End .social-icons -->
                        </div><!-- End .widget -->
                    </div><!-- End .col-lg-3 -->

                    <div class="col-lg-9">
                        <div class="widget widget-newsletter">
                            <h4 class="widget-title">Subscribe newsletter</h4>
                            <div class="row">
                                <div class="col-md-6">
                                    <p>Get all the latest information on Events,Sales and Offers. Sign up for newsletter
                                        today</p>
                                </div><!-- End .col-md-6 -->

                                <div class="col-md-6">
                                    <form action="#">
                                        <input type="email" class="form-control" placeholder="Email address" required>

                                        <input type="submit" class="btn" value="Subscribe">
                                    </form>
                                </div><!-- End .col-md-6 -->
                            </div><!-- End .row -->
                        </div><!-- End .widget -->

                        <div class="row">
                            <div class="col-md-4">
                                <div class="widget">
                                    <h4 class="widget-title">Bilgiler</h4>

                                    <div class="row">
                                        <div class="col-sm-6 col-md-12">
                                            <ul class="links">
                                                <li><a href="about.html">Hakkımızda</a></li>
                                                <li><a href="{% url 'inoks:iletisim-formu' %}">İletişim</a></li>

                                            </ul>
                                        </div><!-- End .col-sm-6 -->

                                    </div><!-- End .row -->
                                </div><!-- End .widget -->
                            </div><!-- End .col-md-5 -->

                            <div class="col-md-4">
                                <div class="widget">
                                    <h4 class="widget-title">Main Features</h4>

                                    <div class="row">
                                        <div class="col-sm-6">
                                            <ul class="links">
                                                <li><a href="#">Super Fast Magento Theme</a></li>
                                                <li><a href="#">1st Fully working Ajax Theme</a></li>
                                                <li><a href="#">20 Unique Homepage Layouts</a></li>
                                            </ul>
                                        </div><!-- End .col-sm-6 -->

                                    </div><!-- End .row -->
                                </div><!-- End .widget -->
                            </div><!-- End .col-md-7 -->
                            <div class="col-md-4">
                                <div class="widget">
                                    <h4 class="widget-title">Size Özel</h4>

                                    <div class="row">
                                        <div class="col-sm-6">
                                            <ul class="links">
                                                <li><a href="{% url 'inoks:kullanici-iade-olustur' %}">Ürün İadesi </a>
                                                </li>
                                                <li><a href="{% url 'inoks:misafir-kullanici-iadeleri' %}">Ürün İade
                                                    Bilgisi</a></li>
                                                <li><a href="#">20 Unique Homepage Layouts</a></li>
                                            </ul>
                                        </div><!-- End .col-sm-6 -->

                                    </div><!-- End .row -->
                                </div><!-- End .widget -->
                            </div><!-- End .col-md-7 -->
                        </div><!-- End .row -->
                    </div><!-- End .col-lg-9 -->
                </div><!-- End .row -->
            </div><!-- End .container -->
        </div><!-- End .footer-middle -->

        <div class="container">
            <div class="footer-bottom">
                <p class="footer-copyright">Copyright &copy; 2020 All rights
                    reserved. Made by <a href="https://www.oxit.com.tr">OXIT</a></p>

                <!-- <img src="assets/images/payments.png" alt="payment methods" class="footer-payments"> -->
            </div><!-- End .footer-bottom -->
        </div><!-- End .container -->
    </footer><!-- End .footer -->
</div><!-- End .page-wrapper -->

<div class="mobile-menu-overlay"></div><!-- End .mobil-menu-overlay -->

<div class="mobile-menu-container">
    <div class="mobile-menu-wrapper">
        <span class="mobile-menu-close"><i class="icon-cancel"></i></span>
        <nav class="mobile-nav">
            <ul class="mobile-menu">
                <li class="active"><a href="index.html">Anasayfa</a></li>
                <li>
                    {% for cat in categories %}
                        <a href="">Kategoriler</a>
                        <ul>
                        <li><a href="{% url 'inoks:kategori-urunleri'  cat.slug %}">{{ cat.name }}</a></li>
                    {% endfor %}

                    </ul>
                </li>
                <li>
                    <a href="product.html">Kurumsal</a>
                    <ul>
                        <li>

                            <ul>
                                <li><a href="product.html">Hakkımızda</a></li>

                            </ul>
                        </li>


                    </ul>
                </li>
                <li>

                    <a href="contact.html" class="sf-with-ul">İletişim</a>

                    <ul>
                        <li><a href="cart.html">İnsan Kaynakları</a></li>

                    </ul>

                </li>
            </ul>
        </nav><!-- End .mobile-nav -->

        <div class="social-icons">
            <a href="#" class="social-icon" target="_blank"><i class="icon-facebook"></i></a>
            <a href="#" class="social-icon" target="_blank"><i class="icon-twitter"></i></a>
            <a href="#" class="social-icon" target="_blank"><i class="icon-instagram"></i></a>
        </div><!-- End .social-icons -->
    </div><!-- End .mobile-menu-wrapper -->
</div><!-- End .mobile-menu-container -->

<!--  <div class="newsletter-popup mfp-hide" id="newsletter-popup-form" style="background-image: url(assets/images/newsletter_popup_bg.jpg)">
      <div class="newsletter-popup-content">
          <img src="assets/images/logo-black.png" alt="Logo" class="logo-newsletter">
          <h2>BE THE FIRST TO KNOW</h2>
          <p>Subscribe to the Porto eCommerce newsletter to receive timely updates from your favorite products.</p>
          <form action="#">
              <div class="input-group">
                  <input type="email" class="form-control" id="newsletter-email" name="newsletter-email" placeholder="Email address" required>
                  <input type="submit" class="btn" value="Go!">
              </div> End .from-group
          </form>-->

</div><!-- End .newsletter-popup-content -->
</div><!-- End .newsletter-popup -->

<!-- Add Cart Modal -->
<div class="modal fade" id="addCartModal" tabindex="-1" role="dialog" aria-labelledby="addCartModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body add-cart-box text-center">
                <p>You've just added this product to the<br>cart:</p>
                <h4 id="productTitle"></h4>
                <img src="#" id="productImage" width="100" height="100" alt="adding cart image">
                <div class="btn-actions">
                    <a href="cart.html">
                        <button class="btn-primary">Go to cart page</button>
                    </a>
                    <a href="#">
                        <button class="btn-primary" data-dismiss="modal">Continue</button>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>


<a id="scroll-top" href="#top" title="Top" role="button"><i class="icon-angle-up"></i></a>

<!-- Plugins JS File -->
<script src="{% static 'assets/js/jquery.min.js' %}"></script>
<script src="{% static 'assets/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'assets/js/plugins.min.js' %}"></script>

<!-- Main JS File -->
<script src="{% static 'assets/js/main.min.js' %}"></script>


<script>


    document.getElementById("remove-toast").onclick = function () {
        document.getElementById("toast").style.display = 'none';


    };

    // ************************************************
    // Shopping Cart API
    // ************************************************

    var shoppingCart = (function () {
        // =============================
        // Private methods and propeties
        // =============================
        cart = [];

        // Constructor
        function Item(name, price, count, id) {
            this.name = name;
            this.price = price;
            this.count = count;
            this.id = id;
        }

        // Save cart
        window.onload = function () {
            if (sessionStorage.getItem('shoppingCart') != null) {
                cart = JSON.parse(sessionStorage.getItem('shoppingCart'));
                document.getElementById('products_cart').value = JSON.stringify(cart)
            }


        };

        function saveCart() {
            sessionStorage.setItem('shoppingCart', JSON.stringify(cart));
            document.getElementById('products_cart').value = JSON.stringify(cart)

        }

        // Load cart
        function loadCart() {
            cart = JSON.parse(sessionStorage.getItem('shoppingCart'));
            document.getElementById('products_cart').value = JSON.stringify(cart)
        }

        if (sessionStorage.getItem("shoppingCart") != null) {
            loadCart();
        }


        // =============================
        // Public methods and propeties
        // =============================
        var obj = {};

        // Add to cart
        obj.addItemToCart = function (name, price, count, id) {
            for (var item in cart) {
                if (cart[item].name === name) {
                    cart[item].count++;
                    saveCart();
                    return;
                }
            }
            var item = new Item(name, price, count, id);

            cart.push(item);
            saveCart();
        }
        // Set count from item
        obj.setCountForItem = function (name, count) {
            for (var i in cart) {
                if (cart[i].name === name) {
                    cart[i].count = count;
                    break;
                }
            }
        };
        // Remove item from cart
        obj.removeItemFromCart = function (name) {
            for (var item in cart) {
                if (cart[item].name === name) {
                    cart[item].count--;
                    if (cart[item].count === 0) {
                        cart.splice(item, 1);
                    }
                    break;
                }
            }
            saveCart();
        }

        // Remove all items from cart
        obj.removeItemFromCartAll = function (id) {
            for (var item in cart) {
                if (cart[item].id === id) {
                    cart.splice(item, 1);
                    break;
                }
            }
            saveCart();
        }

        // Clear cart
        obj.clearCart = function () {
            cart = [];
            saveCart();
        }

        // Count cart
        obj.totalCount = function () {
            var totalCount = 0;
            for (var item in cart) {
                totalCount += cart[item].count;
            }
            return totalCount;
        }

        // Total cart
        obj.totalCart = function () {
            var totalCart = 0;
            for (var item in cart) {
                totalCart += cart[item].price * cart[item].count;
            }
            return Number(totalCart.toFixed(2));
        }

        // List cart
        obj.listCart = function () {
            var cartCopy = [];
            for (i in cart) {
                item = cart[i];
                itemCopy = {};
                for (p in item) {
                    itemCopy[p] = item[p];

                }
                itemCopy.total = Number(item.price * item.count).toFixed(2);
                cartCopy.push(itemCopy)
            }
            return cartCopy;
        }

        // cart : Array
        // Item : Object/Class
        // addItemToCart : Function
        // removeItemFromCart : Function
        // removeItemFromCartAll : Function
        // clearCart : Function
        // countCart : Function
        // totalCart : Function
        // listCart : Function
        // saveCart : Function
        // loadCart : Function
        return obj;
    })();


    // *****************************************
    // Triggers / Events
    // *****************************************
    // Add item
    $('.add-to-cart').click(function (event) {


        var x = $(this).data('price').replace(',', '.')
        event.preventDefault();
        var name = $(this).data('name');

        var id = $(this).data('id');
        var price = Number(x);

        shoppingCart.addItemToCart(name, price, 1, id);
        displayCart();
        document.getElementById("toast").style.display = 'block';
        document.getElementById("toast").style.position = 'fixed';
        document.getElementById("toast").style.right = 0;
        document.getElementById("toast").style.top = '123px';
        document.getElementById("toast").style.zIndex = 99;
        document.getElementById("toast").style.width = '200px';


        setTimeout(function () {
            document.getElementById("toast").style.display = 'none';
        }, 2000)


    });


    // Clear items
    $('.clear-cart').click(function () {
        shoppingCart.clearCart();
        displayCart();
    });


    function displayCart() {
        var cartArray = shoppingCart.listCart();
        var output = "";

        for (var i in cartArray) {
            output += "<tr>"
                + "<td>" + cartArray[i].name + "</td>"
                + "<td>(" + cartArray[i].price + ")</td>"
                + "<td><div class='input-group'>"
                + "<input type='number' style='width:130px' class='item-count form-control' data-name='" + cartArray[i].name + "' value='" + cartArray[i].count + "'>"
                + "<input type='hidden' id='productId' name='custId_" + cartArray[i].id + "' value='" + cartArray[i].id + "&" + cartArray[i].count + "'>"
                + "</div></td>"
                + "<td><button class='delete-item btn btn-danger' data-name=" + cartArray[i].name + " data-id=" + cartArray[i].id + ">X</button></td>"
                + " = "
                + "<td>" + cartArray[i].total + "</td>"
                + "</tr>";
        }
        $('.show-cart').html(output);
        $('.total-cart').html(shoppingCart.totalCart());
        $('.total-count').html(shoppingCart.totalCount());
    }

    // Delete item button

    $('.show-cart').on("click", ".delete-item", function (event) {
        var name = $(this).data('id');
        console.log(name);
        shoppingCart.removeItemFromCartAll(name);
        displayCart();
    })


    $('.item-count').on("change", ".item-count", function (event) {
        var name = $(this).data('name');
        var count = Number($(this).val());
        shoppingCart.setCountForItem(name, count);
        displayCart();
    });

    $(".delete-item2").click(function () {
        var name = $(this).data('id');
        console.log("hjgshjdgshjdgjhsdgjs");
        console.log(name);
        shoppingCart.removeItemFromCartAll(name);
        displayCart();

        document.getElementById("pro_table").deleteRow($(this).data('row'));
    });


    // -1
    $('.show-cart').on("click", ".minus-item", function (event) {
        var name = $(this).data('name')
        shoppingCart.removeItemFromCart(name);
        displayCart();
    })
    // +1
    $('.show-cart').on("click", ".plus-item", function (event) {
        var name = $(this).data('name')
        shoppingCart.addItemToCart(name);
        displayCart();
    })

    // Item count input
    $('.show-cart').on("change", ".item-count", function (event) {
        var name = $(this).data('name');
        var count = Number($(this).val());
        shoppingCart.setCountForItem(name, count);
        displayCart();
    });

    displayCart();


    function activeDeactive(user_id, is_true) {


        $.ajax({
            url: "{% url 'inoks:siparis-ekle' %}",
            type: "post", // or "get"
            data: {
                data: item,

            },
            success: function (result) {

                if (result.status == 'Success') {
                    swal("Başarılı", "Üye Durumu Başarıyla Güncellendi.", "success");
                    window.location.replace("{% url "inoks:iptal-edilen-kullanicilar" %}");


                } else {
                    swal("Başarılı", result.messages, "error");
                }
            }
        });
    }


    function getCookie(name) {
        var cookieValue = null;
        var i = 0;
        if (document.cookie && document.cookie !== '') {
            var cookies = document.cookie.split(';');
            for (i; i < cookies.length; i++) {
                var cookie = jQuery.trim(cookies[i]);
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }

    var csrftoken = getCookie('csrftoken');

    function csrfSafeMethod(method) {
        // these HTTP methods do not require CSRF protection
        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    }

    $.ajaxSetup({
        crossDomain: false, // obviates need for sameOrigin test
        beforeSend: function (xhr, settings) {
            if (!csrfSafeMethod(settings.type)) {
                xhr.setRequestHeader("X-CSRFToken", csrftoken);
            }
        }
    });


</script>

</body>

</html>