{% extends 'base_layout_2.html' %}
{% block content %}
    <style>
        .checked {
            color: orange;
        }
    </style>
    <div class="container">

        {% if messages %}
            {% for message in messages %}


                {% if message.tags == 'warning' %}

                    <div class="alert " role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                        <h4><i class="icon fa fa-ban"></i> Hata !</h4>


                        <ul class="messages">
                            {% for message in messages %}
                                <li class="{{ message.tags }}">{{ message }}</li>
                            {% endfor %}
                        </ul>


                    </div>

                {% endif %}


                {% if message.tags == 'success' %}

                    <div class="row">

                        <div class="col-md-12">


                            <div class="alert  " role="alert">
                                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                                <h4><i class="icon fa fa-check"></i> Başarılı !</h4>


                                <ul class="messages">
                                    {% for message in messages %}
                                        <li class="{{ message.tags }}">{{ message }}</li>
                                    {% endfor %}
                                </ul>


                            </div>
                        </div>
                    </div>

                {% endif %}
            {% endfor %}


        {% endif %}
        <nav aria-label="breadcrumb" class="breadcrumb-nav" style="margin-bottom: 30px;">
            <div class="container">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{% url 'inoks:kullanici-urun-sayfasi' %}"><i
                            class="icon-home"></i></a></li>

                    <li class="breadcrumb-item active" aria-current="page">Siparişlerim</li>
                </ol>
            </div>
        </nav>
        <div class="row">
            <aside class="sidebar col-md-2">
                <div class="widget widget-dashboard">
                    <h3 class="widget-title">Hesabım</h3>

                    <ul class="list">

                        <li><a href="{% url 'inoks:kullanici-profil' %}" class="">Kullanıcı Bilgileri</a></li>
                        <li><a href="{% url 'inoks:sifre-guncelle' %}" class="">Şifre Değişikliği</a></li>
                        <li><a href="{% url 'inoks:kullanici-adres-bilgileri' %}" class="">Adreslerim</a></li>
                        <li><a href="{% url 'inoks:kullanici-siparisleri' %}" class="">Siparişlerim</a></li>
                        <li><a href="#" class="{% url 'inoks:kullanici-iadelerim' %}">İadelerim</a></li>

                    </ul>

                </div><!-- End .widget -->
            </aside><!-- End .col-lg-4 -->
            <div class="col-md-10 ">
                <div class="checkout-payment">

                    <div class="cart-table-container">
                        <table class="table table-cart">
                            <thead>
                            <tr>
                                <th></th>
                                <th>Kod</th>
                                <th>Ürün</th>
                                <th class="price-col">Fiyat</th>
                                <th>Marka</th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody id="pro_table">
                            {% for product in order_product %}
                                <tr class="product-row">
                                    <td>

                                        <figure>
                                            {% if product.product.productImage.all %}

                                                <a href="{% url 'inoks:urun-detay' product.product.slug %}"><img
                                                        class="pic-1"
                                                        style="height: 80px;width:100px"

                                                        src="/media/{{ product.product.productImage.all.0.productImage }}"></a>

                                            {% endif %}
                                        </figure>
                                    </td>
                                    <td>{{ product.product.code }}</td>
                                    <td>
                                        {{ product.product.name }}
                                    </td>
                                    {% if product.product.getDiscountHome > 0 %}
                                        <td
                                                data-id="{{ product.product.id }}"
                                                data-name="{{ product.product.name }}"
                                                data-price="{{ product.product.getDiscountHome }}">
                                            {{ product.product.getDiscountHome }}₺

                                            {% else %}

                                        <td
                                                data-id="{{ product.product.id }}"
                                                data-name="{{ product.product.name }}"
                                                data-price="{{ product.product.price }}">
                                        {{ product.product.price | floatformat:'2' }}₺


                                    {% endif %}
                                    </td>
                                    <td>{{ product.product.brand }}</td>

                                    <td>

                                        <button id="" name="{{ product.product.name }}"
                                                class="btn btn-primary" onClick="showHide({{ product.product.pk }})">
                                            Ürünü Değerlendir
                                        </button>


                                    </td>
                                </tr>
                                <tr>
                                    <td>

                                        <div id="{{ product.product.pk }}" style="display: none">
                                            <form method="post"
                                                  action="{% url 'inoks:kullanici-yorum-yap' product.product.pk %}">
                                                {% csrf_token %}


                                                <a><span onclick="Star(1,{{ product.product.pk }})"
                                                         class="fa fa-star checked"
                                                         id="{{ product.product.pk }}1"></span></a>
                                                <a onclick="Star(2,{{ product.product.pk }})"><span
                                                        class="fa fa-star checked "
                                                        id="{{ product.product.pk }}2"></span></a>
                                                <a onclick="Star(3,{{ product.product.pk }})"><span
                                                        class="fa fa-star checked "
                                                        id="{{ product.product.pk }}3"></span></a>
                                                <a onclick="Star(4,{{ product.product.pk }})"><span
                                                        class="fa fa-star checked "
                                                        id="{{ product.product.pk }}4"></span></a>
                                                <a onclick="Star(5,{{ product.product.pk }})"><span
                                                        class="fa fa-star checked "
                                                        id="{{ product.product.pk }}5"></span></a>


                                                <div class="input-group">
                                                   <textarea name="text" style="margin-right: 20px;" cols="40"
                                                             rows="5"> </textarea>
                                                     <input type="hidden" name="point" id="stars" >
                                                    <button type="submit"
                                                            style="font-weight:bold; width: 100px;height: 30px; margin-top: 20px;"
                                                            class="btn btn-outline-success btn-sm">Yorum Yap
                                                    </button>
                                                </div>
                                            </form>


                                        </div>

                                    </td>
                                </tr>


                            {% endfor %}


                            </tbody>


                        </table>

                    </div><!-- End .cart-table-container -->

                </div><!-- End .checkout-payment -->

            </div><!-- End col-lg-8 -->

        </div><!-- End .col-lg-8 -->
    </div><!-- End .row -->
    <script>


        function showHide(id) {
            debugger;
            var el = document.getElementById(id);
            if (el && el.style.display === 'block')
                el.style.display = 'none';
            else
                el.style.display = 'block';
        }


        function Star(star, order) {


            debugger;
            order = order.toString();
            if (star === 1) {
                let element = document.getElementById(order + 1);
                for (let i = 1; i < 6; i++) {
                    let element = document.getElementById(order + i);
                    element.classList.remove("checked");


                }
                element.classList.add("checked");
                $('input[name="point"]').val('1');



            } else if (star === 2) {
                let element = document.getElementById(order + 1);
                let element2 = document.getElementById(order + 2);
                for (let i = 1; i < 6; i++) {
                    let element2 = document.getElementById(order + i);
                    element2.classList.remove("checked");

                }

                element.classList.add("checked");
                element2.classList.add("checked");
               $('input[name="point"]').val('2');

            } else if (star === 3) {
                let element = document.getElementById(order + 1);
                let element2 = document.getElementById(order + 2);
                let element3 = document.getElementById(order + 3);
                for (let i = 1; i < 6; i++) {
                    let element3 = document.getElementById(order + i);
                    element3.classList.remove("checked");

                }

                element.classList.add("checked");
                element2.classList.add("checked");
                element3.classList.add("checked");
               $('input[name="point"]').val('3');
            } else if (star === 4) {
                let element = document.getElementById(order + 1);
                let element2 = document.getElementById(order + 2);
                let element3 = document.getElementById(order + 3);
                let element4 = document.getElementById(order + 4);
                for (let i = 1; i < 6; i++) {
                    let element4 = document.getElementById(order.toString() + i);
                    element4.classList.remove("checked");

                }

                element.classList.add("checked");
                element2.classList.add("checked");
                element3.classList.add("checked");
                element4.classList.add("checked");
                $('input[name="point"]').val('4');
            } else {

                let element = document.getElementById(order + 1);
                let element2 = document.getElementById(order + 2);
                let element3 = document.getElementById(order + 3);
                let element4 = document.getElementById(order + 4);
                let element5 = document.getElementById(order + 5);
                for (let i = 1; i < 6; i++) {
                    let element5 = document.getElementById(order + i);
                    element5.classList.remove("checked");

                }

                element.classList.add("checked");
                element2.classList.add("checked");
                element3.classList.add("checked");
                element4.classList.add("checked");
                element5.classList.add("checked");
                $('input[name="point"]').val('5');
            }


        }

    </script>
{% endblock %}