
<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">

</head>
<body>
<div id="container">

    <div style="float: right; margin-left: 20px;"></div>

    <div>
        <div class="container">

            <div class="card">

                <div class="card-body">
                    <h5 class="card-title">{{ contact_name }}</h5>
                    <p class="card-text">{{ contact_message }}</p>
                    <div class="card-footer bg-transparent border-dark">
                        <p>

                            Email: {{ contact_email }}<br>
                            Telefon: {{ contact_phone }} <br>

                        </p>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>





