{% extends 'base_layout_2.html' %}
{% block content %}
    {% load static %}
    <style>

        .checked {
            color: orange;
        }

    </style>
    <script src="{% static 'assets/js/jquery.min.js' %}"></script>

    <div class="container">
        {% if messages %}
            {% for message in messages %}


                {% if message.tags == 'warning' %}

                    <div class="alert alert-danger alert-dismissible">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                        <h5><i class="icon fa fa-ban"></i> Hata !</h5>


                        <ul class="messages">
                            {% for message in messages %}
                                <li class="{{ message.tags }}">{{ message }}</li>
                            {% endfor %}
                        </ul>


                    </div>

                {% endif %}


                {% if message.tags == 'success' %}

                    <div class="alert alert-info alert-dismissible">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                        <h5><i class="icon fa fa-heart"></i> Favori Ürün</h5>


                        <ul class="messages">
                            {% for message in messages %}
                                <li class="{{ message.tags }}">{{ message }}</li>
                            {% endfor %}
                        </ul>


                    </div>

                {% endif %}
            {% endfor %}


        {% endif %}




        <div class="alert alert-info alert-dismissible" style="display: none" id="favorite_msg">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
            <h5><i class="icon fa fa-heart"></i> Favori Ürün</h5>


            <ul class="messages" id="msg">


            </ul>


        </div>


        <div class="product-single-container product-single-default">
            <div class="row">
                <div class="col-lg-4 product-single-gallery">

                    <div class="sticky-slider">

                        <div class="product-slider-container product-item">

                            <div class="product-single-carousel owl-carousel owl-theme">
                                {% for image in product.productImage.all %}
                                    <div class="product-item">
                                        <img class="product-single-image"

                                             src="/media/{{ image.productImage }}"
                                             data-zoom-image="/media/{{ image.productImage }}"/>
                                    </div>

                                {% endfor %}
                            </div>
                            <!-- End .product-single-carousel -->
                            <span class="prod-full-screen">
                                        <i class="icon-plus"></i>
                                    </span>
                        </div>

                        <div class="prod-thumbnail row owl-dots transparent-dots" id='carousel-custom-dots'>
                            {% for image in product.productImage.all %}
                                {% if forloop.counter == 1 %}
                                    <div class="owl-dot active">
                                        <img src="/media/{{ image.productImage }}"/>
                                    </div>
                                {% else %}
                                    <div class="owl-dot">
                                        <img src="/media/{{ image.productImage }}"/>
                                    </div>
                                {% endif %}
                            {% endfor %}
                        </div>

                    </div><!-- End .col-md-6 -->
                </div>
                <div class="col-lg-6">
                    <div class="product-single-details">

                        <h1 class="product-title" style="margin-top:20px">{{ product.name }}</h1>

                        <br>
                        {% if ratings.all %}
                            <div class="ratings-container">
                                <div class="product-ratings">
                                    <span class="ratings" style="width:{{ point }}%"></span><!-- End .ratings -->

                                </div><!-- End .product-ratings -->
                            </div>
                        {% endif %}
                        {% if product.getDiscountHome > 0 %}
                            <div class="price-box" id="price-box">

                                <span class="old-price">{{ product.price }} ₺</span>
                                <span class="product-price" id="price">{{ product.getDiscountHome }}₺</span>
                                <input type="hidden" id="price1" value="{{ product.getDiscountHome }}">

                            </div><!-- End .price-box -->
                        {% else %}
                            <div class="price-box">
                                <!--   <span class="old-price">$81.00 ₺</span> -->

                                <span class="product-price" id="price">{{ product.price }} ₺</span>
                                <input type="hidden" id="price1" value="{{ product.price }}">
                            </div><!-- End .price-box -->
                        {% endif %}
                        <table class="table table-size">

                            <tbody>
                            <tr>

                                <td>Ürün Kodu</td>
                                <td>{{ product.code }}</td>
                            </tr>
                            <tr>

                                <td>Marka</td>
                                <td>{{ product.brand }}</td>
                            </tr>
                            <tr>

                                <td>Araç Tipi</td>
                                <td>{{ product.vehicleType }}</td>
                            </tr>
                            <tr>

                                <td>Mevsim Türü</td>
                                {% for cat in product.category.all %}
                                    <td>{{ cat.name }}</td>
                                {% endfor %}
                            </tr>

                            <tr>

                                <td>Taban Genişliği</td>
                                <td>{{ product.baseWidth }}</td>
                            </tr>
                            <tr>

                                <td>Kesit Oranı</td>
                                <td>{{ product.sectionRate }}</td>
                            </tr>
                            <tr>

                                <td>Jant Çapı</td>
                                <td>{{ product.rimDiameter }}</td>
                            </tr>
                            <tr>

                                <td>Hız Endeksi</td>
                                <td>{{ product.speedIndex }}</td>
                            </tr>
                            <tr>

                                <td>Üretim Yılı</td>
                                <td>2019</td>
                            </tr>
                            </tbody>
                        </table>
                        <br>
                        <form action="{% url 'inoks:urun-detay' product.pk %}" method="post" id="form">
                            {% for key,value in options.items %}
                                <h5>{{ key }}</h5>

                                {% if value.0.option_value.option.type == 'Seçenek' %}
                                    <select name="option" id="option" class="form-control"
                                            onchange="get_price_of_option()">
                                        <option value="">----</option>
                                        {% for option in value %}

                                            <option value="{{ option.option_value.name }}">{{ option.option_value.name }} </option>
                                        {% endfor %}
                                    </select>
                                {% endif %}
                                {% for valuee in value %}
                                    {% if valuee.option_value.option.type == 'Radyo Düğmesi' %}
                                        <input type="radio" name="option" id="option"
                                               value="{{ value.option_value.name }}">
                                    {% elif valuee.option_value.option.type == 'Onay Kutusu' %}
                                        <input type="checkbox" value="{{ value.option_value.name }}" id="option">
                                    {% elif valuee.option_value.option.type == 'Metin' %}
                                        <input type="text" class="form-control" id="option" name="option">
                                    {% elif valuee.option_value.option.type == 'Dosya' %}
                                        <input type="file" class="form-control" id="option " name="option" value="">
                                    {% elif valuee.option_value.option.type == 'Tarih' %}
                                        <input type="date" class="form-control" id="option" name="option" value="">
                                    {% else %}
                                    {% endif %}
                                {% endfor %}

                            {% endfor %}
                        </form>
                        <div class="product-action product-all-icons">


                            {% if product.getDiscountHome > 0 %}

                                <button class="btn-icon add-to-cart" style="font-family: INITIAL;"
                                        data-id="{{ product.id }}"
                                        data-name="{{ product.name }}"
                                        data-price=" {{ product.getDiscountHome }}"
                                        data-toggle="modal"
                                ><i class="icon-bag"></i>Sepete
                                    Ekle
                                </button>

                                 <a class="paction add-wishlist" style="margin: 10px;"
                                   title="Favorilerime Ekle" onclick="add_favorite({{ product.pk }})">

                                </a>
                            {% else %}
                                <button class="btn-icon add-to-cart" style="font-family: INITIAL;"
                                        data-id="{{ product.id }}"
                                        data-name="{{ product.name }}"
                                        data-price=" {{ product.price }}"
                                        data-toggle="modal"
                                ><i class="icon-bag"></i>Sepete
                                    Ekle
                                </button>
                                <a class="paction add-wishlist" style="margin: 10px;"
                                   title="Favorilerime Ekle" onclick="add_favorite({{ product.pk }})">

                                </a>


                            {% endif %}


                        </div>

                    </div><!-- End .product-single-details -->


                </div><!-- End .col-md-6 -->
                <!-- End .product-single-tabs -->
            </div><!-- End .row -->

            <div class="row">
                <div class="col-lg-12 ">

                    <div class="product-single-tabs">
                        <ul class="nav nav-tabs" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" id="product-tab-desc" data-toggle="tab"
                                   href="#product-desc-content" role="tab" aria-controls="product-desc-content"
                                   aria-selected="true">Açıklama</a>
                            </li>

                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane fade show active" id="product-desc-content" role="tabpanel"
                                 aria-labelledby="product-tab-desc">
                                <div class="product-desc-content">
                                    <p>{{ product.info }}</p>

                                </div><!-- End .product-desc-content -->
                            </div><!-- End .tab-pane -->


                            <!-- End .tab-pane -->
                        </div><!-- End .tab-content -->
                    </div>
                </div>


            </div>
            {% if ratings.all %}
                <div class="row">
                    <div class="col-lg-12 ">

                        <div class="product-single-tabs">
                            <ul class="nav nav-tabs" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" id="product-tab-desc" data-toggle="tab"
                                       href="#product-desc-content" role="tab" aria-controls="product-desc-content"
                                       aria-selected="true">Ürün Değerlendirmeleri</a>
                                </li>

                            </ul>

                            {% for rating in ratings %}
                                <div class="tab-content">
                                    <div class="tab-pane fade show active" id="product-desc-content" role="tabpanel"
                                         aria-labelledby="product-tab-desc">
                                        <div class="comment-user"><i
                                                class="fa fa-user"></i>
                                            {{ rating.profile.user.first_name }}


                                        </div>
                                        <time class="comment-date"
                                              datetime="16-12-2014 01:05"><i
                                                class="fa fa-clock-o"></i>{{ rating.creationDate }}
                                        </time>
                                        <div class="product-desc-content">
                                            <p>{{ rating.comment }}</p>

                                        </div><!-- End .product-desc-content -->
                                    </div><!-- End .tab-pane -->


                                    <!-- End .tab-pane -->
                                </div><!-- End .tab-content -->
                            {% endfor %}

                        </div>
                    </div>


                </div>
            {% endif %}
            <div class="featured-section">
                <div class="container">
                    <h2 class="carousel-title">{{ group.name }}</h2>

                    <div class="product-intro owl-carousel owl-theme owl-loaded owl-drag" data-toggle="owl"
                         data-owl-options="{
                        'margin': 20,
                        'items': 2,
                        'loop' : false,
                        'autoplayTimeout': 5000,
                        'responsive': {
                            '559': {
                                'items': 3
                            },
                            '975': {
                                'items': 4
                            }
                        }
                    }">


                        <div class="owl-stage-outer">
                            <div class="owl-stage"
                                 style="transform: translate3d(-2082px, 0px, 0px); transition: all 0.25s ease 0s; width: 3868px;">

                                {% for product in group.products.all %}

                                    <div class="owl-item  " style="width: 277.5px; margin-right: 20px;">
                                        <div class="product-default">
                                            {% if product.productImage.all %}
                                                <figure>
                                                    <a href="{% url 'inoks:urun-detay' product.slug %}">
                                                        <img src="/media/{{ product.productImage.all.0.productImage }}">
                                                    </a>
                                                </figure>
                                            {% endif %}
                                            <div class="product-details">

                                                <h2 class="product-title">
                                                    <a href="{% url 'inoks:urun-detay' product.slug %}">{{ product.name }}</a>
                                                </h2>
                                                <input id="product" type="hidden" name="product"
                                                       value={{ product.pk }}/>
                                                {% if product.getDiscountHome > 0 %}
                                                    <div class="price-box">
                                                        <span class="old-price">{{ product.price }} ₺</span><br>
                                                        <span class="product-price">{{ product.getDiscountHome }}₺</span>
                                                    </div><!-- End .price-box -->
                                                {% else %}
                                                    <div class="price-box">

                                                        <span class="product-price">{{ product.price }} ₺</span>
                                                    </div><!-- End .price-box -->
                                                {% endif %}
                                                <div class="product-action">
                                                    {% if product.getDiscountHome > 0 %}
                                                        <button class="btn-icon  add-to-cart"
                                                                style="font-family: INITIAL;"
                                                                data-id="{{ product.id }}"
                                                                data-name="{{ product.name }}"
                                                                data-price=" {{ product.getDiscountHome }}"
                                                                data-toggle="modal"
                                                        ><i class="icon-bag"></i>Sepete
                                                            Ekle
                                                        </button>

                                                    {% else %}
                                                        <button class="btn-icon  add-to-cart"
                                                                style="font-family: INITIAL;"
                                                                data-id="{{ product.id }}"
                                                                data-name="{{ product.name }}"
                                                                data-price=" {{ product.price }}"
                                                                data-toggle="modal"
                                                        ><i class="icon-bag"></i>Sepete
                                                            Ekle
                                                        </button>

                                                    {% endif %}
                                                </div><!-- End .product-details -->

                                            </div><!-- End .product-details -->
                                        </div>
                                    </div>

                                {% endfor %}


                            </div>
                        </div>
                        <div class="owl-nav disabled">
                            <button type="button" role="presentation" class="owl-prev"><i
                                    class="icon-left-open-big"></i></button>
                            <button type="button" role="presentation" class="owl-next"><i
                                    class="icon-right-open-big"></i></button>
                        </div>

                    </div>
                </div><!-- End .container -->
            </div>


        </div>


    </div><!-- End .product-single-container -->
    <!-- End .container -->

    <script>


        function add_favorite(product) {
            $.ajax({
                url: "{% url 'inoks:favori-urun-ekle' %}",
                type: "post", // or "get"
                data: {
                    product: product,

                },
                success: function (result) {
                    debugger;

                    if (result.status === 'Success') {

                        if (result.code === 100) {
                            let html = '<li class="success ">Ürün favorilerime eklendi</li>';
                            document.getElementById('msg').innerHTML = html;

                        } else {
                            let html = '<li class="success ">Ürün favorilerimde mevcut</li>';
                            document.getElementById('msg').innerHTML = html;
                        }
                        document.getElementById("favorite_msg").style.display = '';

                    } else {
                        swal("Başarılı", result.messages, "error");
                    }
                }
            });
        }


        function get_price_of_option() {

            var e = document.getElementById("option");


            var option = e.options[e.selectedIndex].value;
            $.ajax({
                url: "{% url 'inoks:secenegin-fiyatını-getir' %}",
                type: "post", // or "get"
                async: false,
                data: {
                    option: option,

                },
                success: function (result) {
                    let price = parseFloat(document.getElementById("price1").value);


                    debugger;
                    for (let i = 0; i < result.values.length; i++) {


                        let total = (parseFloat(result.values[i].price) + price).toFixed(2);

                        let html = '<span class="product-price" id="price" >' + total + '₺</span>';
                        document.getElementById("price").innerHTML = html;
                    }

                },
                error: function () {
                    let price = document.getElementById("price1").value;
                    let html = '<span class="product-price" id="price">' + price + '₺</span>';
                    document.getElementById("price").innerHTML = html;
                }


            });
        }

        $(document).ready(function () {
            get_typeValue();

        });

        function getCookie(name) {
            var cookieValue = null;
            var i = 0;
            if (document.cookie && document.cookie !== '') {
                var cookies = document.cookie.split(';');
                for (i; i < cookies.length; i++) {
                    var cookie = jQuery.trim(cookies[i]);
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }

        var csrftoken = getCookie('csrftoken');

        function csrfSafeMethod(method) {
            // these HTTP methods do not require CSRF protection
            return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
        }

        $.ajaxSetup({
            crossDomain: false, // obviates need for sameOrigin test
            beforeSend: function (xhr, settings) {
                if (!csrfSafeMethod(settings.type)) {
                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                }
            }
        });


    </script>


{% endblock %}